<!DOCTYPE html>
<html>

<head>
    <title>Edit blog Post</title>
</head>

<body>
    <div id="editpost" class="ep">
        <!-- <form method="POST" action="/delete_profile">
            <input type="delete" name="delete_profile">
        </form> -->


        <div class="post">
            <form method="POST" action="/update_blog/<%= @blog.id %>">
                  <input type="hidden" name="method" value="PUT">

                <p2>Title</p2>
                <input type="text" name="[create]title" value="<%=@blog.title %>">
                <br>
                <p1>Category</p1>
                <br>
                <input type="text" name="[create]category" value="<%= @blog.category %>">
                <br>
                <p3>Post Content</p3>
                <input type="text" name="[create]blogpost" value="<%= @blog.blogpost %>">
                <input type="submit" value="Update Post">
                <input type="hidden" name="[post]user_id" value="<%= @current_user.id %>">
                
            </form>
        </div>

        <form method="POST" action="/delete_post">
               <input type="hidden" name="Blogid" value="<%= @blog.id %>">
                <input type="submit" value="Delete this Post">

                
        </form>
    </div>
</body>

</html>