<!DOCTYPE html>
<html>
<head>
	<title>Edit Info form</title>
</head>
<body>
	
        <h1>Personal Acount Details</h1>

<br>
<br>
        <form method="POST" action="/update_info">
	<input type="hidden" name="_method" value="PUT">
        <input type="text" name="[update]uname" value="<%=@current_user.uname%>">
        <br>
        <input type="text" name="[update]fname" value="<%=@current_user.fname%>">
        <br>
        <input type="text" name="[update]lname" value="<%=@current_user.lname%>">
        <br>
        <input type="text" name="[update]email" value="<%=@current_user.email%>">
        <br>
        <input type="text" name="[update]city" value="<%=@current_user.city%>">
        <br>
        <input type="string" name="[update]password" value="<%=@current_user.password%>">
        <input type="submit" value="Submit">
	</form>

        <form method="POST" action="/delete_profile">
                <input type="submit" value="Delete Profile">

                
        </form>

</body>
</html>