<!--/////////   User Profile/:id   //////////////-->


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Other Users Profile</title>
</head>
<body>
	<form method="POST" action="/sign-out">
        
    <input id="sign-out" type="Submit" name="Sign Out">
    
    </form>

	<h1>
		Friends Recipes
	</h1>
    <div id="Content">""</div>
    	<div class="posts_feed">
		<% @user.user_id do |post| %>
            <p>Title: <%= post.title %></p>

            <p>Category:<%= post.category%></p>
            <p>  <%= post.blogpost%></p>
            <p>Username: <%=post.user_id%></p>
            <p>Created:<%=post.created_at%></p>
                
                <% end %>
	</div>
</body>
</html>