<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Profile</title>
	<link href="StyleSheets/PProfile.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|Lobster|Pacifico" rel="stylesheet">
</head>
<body>
	<div class="wholepage">
	<h1>Account Details, Your own posts in one place etc....</h1>
	<br>

<h1>Feed</h1>
<br>

	<div class="posts_feed">
		<% @blogpost.each do |post| %>
            <p>Title: <%= post.title %></p>
            <p>Category:<%= post.category%> </p>
            <p>  <%= post.blogpost%></p>
            <p>Username: <%=post.user_id%></p>
            <p>Created:<%=post.created_at%> </p>
                
                <% end %>
	</div>
	   <div class="TextContainer">

    <h2 class="BL">Blogging Is Life</h2>
    <p1 class="Writedown">Write down your reviews</p1>
    </div>
    <!-- Trigger/Open The Modal -->
<button id="myBtn" class="button">Start New Blog</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Food.Life.Blogs.</p>
    <textarea id="MText" rows="8" cols="75"></textarea>
    <button id="Submit2" onClick="Submit2()">Submit</button>
</div>
</div>
    </div>
  
   <script type="text/javascript" src="JavaScript/Main.js"></script>
</body>
</html>