<!--/////////// MY Profile ///////////-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Profile</title>
	<link href="StyleSheets/PProfile.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|Lobster|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora" rel="stylesheet">
</head>
<body>
  
	<div class="wholepage">
	<h1 class="Hdetails">Account Details, Your blog posts in one place etc....<a title="Edit Post" href="/update_info/current_user"> <%= @current_user.uname %></a>!</h1>

	<br>

<h2 class="NF">NewsFeed</h2>

<form method="POST" action="/sign-out">
        
    <input class="SO" id="sign-out" type="submit" value="sign-out">
    
    </form>

<br>

	<div class="posts_feed">
		<% @blogposts.each do |post| %>
            <p>Title:<a title="Edit Post" href="/update_blog_page/<%= post.id %>"><%= post.title %></a></p>

            <p>Category:<%= post.category%></p>
            <p>  <%= post.blogpost%></p>
            <p>Username: <%=post.user.fname%></p>
            <p>Created:<%=post.created_at%></p>
                
                <% end %>
	</div>
	   <div class="TextContainer">

    <h2 class="BL">Blogging Is Life</h2>
    <p1 class="Writedown">Write down your reviews</p1>
    </div>
  
    <!-- Trigger/Open The Modal -->
<button id="myBtn" class="button">Start New Blog</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Food.Life.Blogs.</p>
    <form method="POST" action="/create_message">
    <select name="[create]category">
  <option value="Appetizers">Appetizers</option>
  <option value="Drinks/Cocktails">Drinks/Cocktails</option>
  <option value="Entrees">Entrees</option>
  <option value="Desserts">Desserts</option>
</select>
    <input type="text" name="[create]title" placeholder="Title">
    <input type="text" name="[create]blogpost" placeholder="Post Content">
    <input type="hidden" name="[create]user_id" value="<%= @current_user.id %>">
    <input type="submit" value="Submit">
    </form>

</div>
<input class="blogsubmit" type="submit" value="Submit">
</div>
  </div>



  <!-- Update Profile Button -->
  <div class="update">


  <form method="POST" action="/update_info">

    
  <input type="button" value="update profile">
  </form>
  </div>



<!-- Update Blog Post Button -->



  <div class="editblog">
  <form method="POST" action="/update_blog">
  <input type="submit" value="update blogpost">
  </form>
  </div>


   <script type="text/javascript" src="JavaScript/Main.js"></script>
</body>
</html>

