<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Profile</title>
</head>
<body>
	<h1>Account Details, Your own posts in one place etc....</h1>
	<br>

<h1>Feed</h1>
<br>

	<div class="posts_feed">
		<% @blogpost.each do |post| %>
            <p>Title: <%= post.title %></p>
            <p>Category:<%= post.category%></p>
            <p>  <%= post.blogpost%></p>
            <p>Username: <%=post.user_id%></p>
            <p>Created:<%=post.created_at%></p>
                
                <% end %>
	</div>
</body>
</html>